*
{
    padding: 0;
    margin: 0;
}
body
{
    background-color: #FDEFCC;
    user-select: none;
    overflow-x: hidden;
}
.background 
{
    width: 100vw;
    height: 100vh;
}
nav
{
    display: grid;
    position: fixed;
    left: 0;
    top: 0;
    width: 20vw;
    height: 100vh;
    background-color: #676767;
    grid-template-rows: 12fr 88fr;
    z-index: 1;
}
.logo 
{
    display: flex;
    background: #595959;
    width: 80%;
    position: absolute;
    right: 0;
    height: 12vh;
}
nav > a
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}

.selection 
{
    display: flex;
    margin: auto;
    color:#ffffff;
    justify-content: left;
    flex-direction: column;
    top: 12vh;
}

.selection li
{
    list-style: none;
}

.selection a {
    text-decoration: none;
    color: #ffffff;
}

.selection strong {
    margin-right: auto;
    margin-left: auto;
}

.selection a:hover {
    text-decoration: solid;
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
}
main
{
    position: absolute;
    width: 80vw;
    top: 12vh;
    right: 0;
}

.chords
{
    display: flex;
    justify-content: center;
}
#dmajor
{
    background-color: #595959;
    color: #ffffff;
}
#dmajor:hover
{
    background-color: #676767;
    font-weight: bold;
}
#dmajorimg
{
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
}
#dmajordiv
{
    top: 12vh;
    right: 0;
    display: none;
    align-items: flex-start;
    justify-content: right;
    position: fixed;
}
#amajor7
{
    background-color: #595959;
    color: #ffffff;
}
#amajor7:hover
{
    background-color: #676767;
    font-weight: bold;
}
#amajor7div
{
    top: 12vh;
    right: 0;
    display: none;
    align-items: flex-start;
    justify-content: right;
    position: fixed;
}
#amajor7img
{
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
}
#gmajor
{
    background-color: #595959;
    color: #ffffff;
}
#gmajordiv
{
    top: 12vh;
    right: 0;
    display: none;
    align-items: flex-start;
    justify-content: right;
    position: fixed;
}
#gmajorimg
{
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
}
#gmajor:hover
{
    background-color: #676767;
    font-weight: bold;
}
#eminor
{
    background-color: #595959;
    color: #ffffff;
}
#eminordiv
{
    top: 12vh;
    right: 0;
    display: none;
    align-items: flex-start;
    justify-content: right;
    position: fixed;
}
#eminorimg
{
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
}
#eminor:hover
{
    background-color: #676767;
    font-weight: bold;
}
#amajor5
{
    background-color: #595959;
    color: #ffffff;
}
#amajor5:hover
{
    background-color: #676767;
    font-weight: bold;
}
#amajor5div
{
    top: 12vh;
    right: 0;
    display: none;
    align-items: flex-start;
    justify-content: right;
    position: fixed;
}
#amajor5img
{
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
}